html,body{
    padding: 0%;
    margin: 0%;
    background-color: black;
    font-family: Helvetica,Arial, sans-serif;

}
header{
    background-color: black;
    
}
.brand{
    max-width: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1250px;
    margin:0 auto;
    
    
    
}
.main-nav{
    list-style: none;
    display: inline-flex;
    /* display: none; */
}
.left-cont{
    display: flex;
    flex-direction: row;
    align-items: center;

}

.nav-item{
    color: white;
    margin-right: 30px;
}

.icon{
    width: 30px;
    margin: 10px 6px;
    
}

/*movie sectoin */


.movies-sec-head{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    cursor: pointer;
    margin-bottom: 10px;
}
.explore{
    color: #54b9c5;
    font-size: 12px;
    display: none;

}
.movies-sec-head:hover .explore{
    display: inline-block;
    
}
.movies-row{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.movie-item{
    width: 246px;
    margin: 6px;
    object-fit: contain;
    border-radius: 4px;
}
.movie-item:hover{
    transform: scale(1.2);
    transition: transform linear 500ms;
}


@media (max-width:767px) {
    .main-nav{
        display: none;
    }
}